<div class="row aligner">
  <div class="col-md-11">
    <div class="brand">Nombre Proyecto</div>
    <div class="address-bar">Innovación 2016</div>
  </div>

  <div class="col-md-1 aligner-space-around ">
    <% if user_signed_in? %>
      <%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete , class: "btn btn-primary with-margin"%>
    <% else%>
        <%= link_to "Entrar", ingresar_path, class: "btn btn-primary with-margin" %>
        <%= link_to "Registrarse", registrar_path, class: "btn btn-primary with-margin" %>
      <% end %>
  </div>
</div>


<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Business Casual</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to " Inicio", inicio_path, class:"glyphicon glyphicon-home" %>
        </li>
        <li>
          <%= link_to " Personas", busqueda_path, class:"glyphicon glyphicon-search" %>
        </li>
        <li>
          <%= link_to " Quienes Somos?", quienes_somos_path, class: "glyphicon glyphicon-question-sign" %>
        </li>
        <li>
          <%= link_to " Contacto", contacto_path, class:"glyphicon glyphicon-folder-open" %>
        </li>
        <% if user_signed_in? %>
        <li>
          <%= link_to "", contacto_path, class:"glyphicon glyphicon-user" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
