<div class="aligner">
  <h2> Información Jubilado</h2>
</div>
<div class="col-md-4 col-md-offset-4 aligner">
  <%= form_for(@retire) do |f| %>

  <%= hidden_field_tag "retire[user_id]", value: current_user.id%>

  <div class="field">
    <%= f.label :telephone, "Agregar Teléfono" %><br>
    <%= f.text_field :telephone,
                      class: "form-control",
                      placeholder: "94505345",
                      required: true %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit "Añadir Información", class: "btn btn-primary" %>
  </div>

  <% end %>
</div>
